<div class="bs-example bs-navbar-top-example" data-example-id="navbar-static-top">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>

        <%= link_to 'One Month Rails', root_path, class: 'navbar-brand' %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <% if user_signed_in? %>
          <li><%= link_to "Add +", new_pin_path %></li>
              <li><%= link_to "Edit profile", edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>

    </div>
  </nav>
</div>
